<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amclaug7.finals">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HelpActivity"
            android:label="Help">
        </activity>

        <activity
            android:name=".ComboActivity"
            android:label="Combinations">
        </activity>

        //comment
        <activity
            android:name=".ComboResults"
            android:label="Combinations">
        </activity>

        <activity
            android:name=".PermutationActivity"
            android:label="Permutations">
        </activity>

        <activity
            android:name=".PermutationResults"
            android:label="Permutations">
        </activity>

    </application>

</manifest>